.container { @apply mx-auto px-4 max-w-screen-2xl; }


.header {
  @apply bg-gray-900 text-white;
}
.header .container {
  @apply flex justify-between items-center py-4;
}
.header .logo {
  @apply text-xl font-bold hover:text-gray-300;
}
.header .nav a {
  @apply px-3 py-2 hover:underline;
}

.footer {
  @apply bg-gray-800 text-white text-center py-4;
}

.website-logo{
  max-width: 12vw;
}
